ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    
}
button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part {
    color: #2e2f42;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


.page-address {
font-style: normal;
}
.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-item:hover,
.address-item:focus {
    color: #404bbf;
}


.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}



.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.section-team {
    background-color: #f4f4fd;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-item {
    background: #ffffff;
}
.personal-title {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}


.item-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
}
.logo-part-footer {
    color: #f4f4fd;
}
.text-footer {     
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}